.note-edit {
  display: flex;
  flex: 3.5 2 75%;
  background-color: #242424;
  color: #ffffff;
  font-size: 18px;
  outline: none;
}

.note-edit.preview {
  text-align: center;
  padding-top: 20%;
  font-size: 48px;
  color: #99999b;
}