.note {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.note > .header {
  margin: 15px 0px 0px 20px;
  display: flex;
  margin-bottom: 5px;
}

.note > .content {
  padding: 0px 0px 15px 0px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ffffff;
}

.note > .content > .preview {
  margin-left: 10px;
  color: #99999b;
}

.note[selected=true] {
  background-color: #cb9520;
}